{%extends "base.html"%}
{%block content%}
<div class="main"> 
		<div class="row">
			<div class="col-md-6 col-xs-12 leftcontent">
				<h3 class='greeting'><span>Hello, i'm Thierno</span></h3>
				<h3 class='presentation'> <em>Guinean</em> and passionate about <br/><em>Web Development</em>, Entrepreunership, IT...
				</h3>
				<a href="{% url 'contact'%}"><button>Get in touch</button></a>
				<p>or</p>
				<h4>Email me @: </h4>
				<p class="direct-email"><a href="mailto:tsdmoudou@gmail.com">tsdmoudou@gmail.com</a></p>
			</div>
			<div class="col-md-6 col-xs-12 rightcontent">
				<h3 class="name">Who i am</h3>
				<!-- <p>My full name is Thierno Souleymane Diallo. started learning programing and web development a few months ago, i aspire to become a world class developer and create the next google</p>
				<p>I actually focus on front-end development and web technologies i currently know are: <em>HTML5</em> <em>CSS3</em> <em>BOOTSTRAP</em> <em>Sass</em> <em>JAVASCRIPT</em> <em>JQUERY</em> <em>DJANGO</em> <em>GIT</em></p>
				 -->
				<p>My full name is Thierno Souleymane Diallo. started learning programing and web development a few months ago, i aspire to become a world class developer and create the next Google.</p>
				<p>I actually focus on front-end development and web technologies i currently know are: </p>
				<ul>
					<li>HTML5</li>
					<li>CSS3</li>
					<li>Sass</li>
					<li>BOOTSTRAP</li>
					<li>JAVASCRIPT</li>
					<li>JQUERY</li>
					<li>DJANGO</li>
					<li>GIT</li>
					<li>SQL</li>
				</ul>
				<p>I will master soon:</p>
				<ul>
					<li>ANGULAR</li>
					<li>REACT</li>
					<li>REACT NATIVE</li>
				</ul>

				<h3 class="name">Background</h3>
				<p>Born and raise in Guinea, I did management and finance studies. </p>
				<h3 class="name">What else</h3>
				<p>social and courteous, i like discover new things, imporving my skills and wathing fantastic movies.</p>
			</div>
		</div>
		
		</div>
	</div>


{%endblock%}