{%load static%}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
	{%block title%}<title>thierno souleymane Diallo</title>{%endblock%}
	<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" >
	<meta name="author" content="Thierno Souleymane Diallo">
	<meta name="description" content="Thierno Souleymane Diallo, Guinean Web Developer passionnate about IT and Entrepreunership">
	<link rel="stylesheet"  href="{% static 'css/bootstrap.min.css'%}"> 
	<link rel="stylesheet"  href="{% static 'style.css'%}">

</head>
<body>
{%block content%}{%endblock%}

	<script scr="{% static 'jquery.min.js'%}"></script>
	<script src="{% static 'javascript/bootstrap.min.js' %}"></script>
	<!-- <script scr="{% static 'app.js' %}"></script> -->
</body>
</html>
